## Google BigData Showcase
BigQuery ML Tutorial 03  
Edited by 김하제

In [1]:
from google.cloud import bigquery
client = bigquery.Client()

In [2]:
dataset = bigquery.Dataset(client.dataset('bqml_tutorial'))
#dataset.location = 'US'
#client.create_dataset(dataset)

In [3]:
%load_ext google.cloud.bigquery

In [4]:
%%bigquery
#standardSQL
CREATE MODEL `bqml_tutorial.natality_model`
OPTIONS
  (model_type='linear_reg',
    input_label_cols=['weight_pounds']) AS
SELECT
  weight_pounds,
  is_male,
  gestation_weeks,
  mother_age,
  CAST(mother_race AS string) AS mother_race
FROM
  `bigquery-public-data.samples.natality`
WHERE
  weight_pounds IS NOT NULL
  AND RAND() < 0.001

Empty DataFrame
Columns: []
Index: []

In [5]:
%%bigquery
#standardSQL
CREATE OR REPLACE MODEL `bqml_tutorial.natality_model`
OPTIONS
  (model_type='linear_reg',
    input_label_cols=['weight_pounds']) AS
SELECT
  weight_pounds,
  is_male,
  gestation_weeks,
  mother_age,
  CAST(mother_race AS string) AS mother_race
FROM
  `bigquery-public-data.samples.natality`
WHERE
  weight_pounds IS NOT NULL
  AND RAND() < 0.001

Empty DataFrame
Columns: []
Index: []

In [6]:
%%bigquery
#standardSQL
SELECT
  *
FROM
  ML.EVALUATE(MODEL `bqml_tutorial.natality_model`,
    (
    SELECT
      weight_pounds,
      is_male,
      gestation_weeks,
      mother_age,
      CAST(mother_race AS STRING) AS mother_race
    FROM
      `bigquery-public-data.samples.natality`
    WHERE
      weight_pounds IS NOT NULL))

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,0.956333,1.675883,0.034271,0.738394,0.046365,0.046378

In [7]:
%%bigquery
#standardSQL
SELECT
  *
FROM
  ML.EVALUATE(MODEL `bqml_tutorial.natality_model`,
    (
    SELECT
      weight_pounds,
      is_male,
      gestation_weeks,
      mother_age,
      CAST(mother_race AS STRING) AS mother_race
    FROM
      `bigquery-public-data.samples.natality`
    WHERE
      weight_pounds IS NOT NULL))

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,0.956333,1.675883,0.034271,0.738394,0.046365,0.046378

In [8]:
%%bigquery
#standardSQL
SELECT
  *
FROM
  ML.EVALUATE(MODEL `bqml_tutorial.natality_model`,
    (
    SELECT
      weight_pounds,
      is_male,
      gestation_weeks,
      mother_age,
      CAST(mother_race AS STRING) AS mother_race
    FROM
      `bigquery-public-data.samples.natality`
    WHERE
      weight_pounds IS NOT NULL))

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,0.956333,1.675883,0.034271,0.738394,0.046365,0.046378

In [9]:
%%bigquery
#standardSQL
SELECT
  predicted_weight_pounds
FROM
  ML.PREDICT(MODEL `bqml_tutorial.natality_model`,
    (
    SELECT
      is_male,
      gestation_weeks,
      mother_age,
      CAST(mother_race AS STRING) AS mother_race
    FROM
      `bigquery-public-data.samples.natality`
    WHERE
      state = "WY"))

       predicted_weight_pounds
0                     7.743723
1                     8.236158
2                     7.365156
3                     7.691609
4                     7.494521
5                     7.436173
6                     7.546634
7                     7.701520
8                     7.470302
9                     7.494521
10                    7.366075
11                    7.936681
12                    7.689770
13                    7.731904
14                    7.513808
15                    7.409197
16                    7.759868
17                    7.781803
18                    7.669503
19                    7.465261
20                    7.499390
21                    7.161298
22                    7.709593
23                    7.401508
24                    6.950364
25                    6.850715
26                    7.192172
27                    6.908840
28                    7.877798
29                    7.186436
...                        ...
18705                 7.255614
18706                 7.255614
18707                 7.255614
18708                 7.255614
18709                 7.255614
18710                 7.255614
18711                 7.255614
18712                 7.255614
18713                 7.255614
18714                 7.255614
18715                 7.255614
18716                 7.255614
18717                 7.255614
18718                 7.255614
18719                 7.255614
18720                 7.255614
18721                 7.255614
18722                 7.255614
18723                 7.255614
18724                 7.255614
18725                 7.255614
18726                 7.255614
18727                 7.255614
18728                 7.255614
18729                 7.255614
18730                 7.255614
18731                 7.255614
18732                 7.255614
18733                 7.255614
18734                 7.255614

[218735 rows x 1 columns]

In [10]:
%%bigquery
#standardSQL
SELECT
  predicted_weight_pounds
FROM
  ML.PREDICT(MODEL `bqml_tutorial.natality_model`,
    (
    SELECT
      is_male,
      gestation_weeks,
      mother_age,
      CAST(mother_race AS STRING) AS mother_race
    FROM
      `bigquery-public-data.samples.natality`
    WHERE
      state = "WY"))

       predicted_weight_pounds
0                     7.743723
1                     8.236158
2                     7.365156
3                     7.691609
4                     7.494521
5                     7.436173
6                     7.546634
7                     7.701520
8                     7.470302
9                     7.494521
10                    7.366075
11                    7.936681
12                    7.689770
13                    7.731904
14                    7.513808
15                    7.409197
16                    7.759868
17                    7.781803
18                    7.669503
19                    7.465261
20                    7.499390
21                    7.161298
22                    7.709593
23                    7.401508
24                    6.950364
25                    6.850715
26                    7.192172
27                    6.908840
28                    7.877798
29                    7.186436
...                        ...
18705                 7.255614
18706                 7.255614
18707                 7.255614
18708                 7.255614
18709                 7.255614
18710                 7.255614
18711                 7.255614
18712                 7.255614
18713                 7.255614
18714                 7.255614
18715                 7.255614
18716                 7.255614
18717                 7.255614
18718                 7.255614
18719                 7.255614
18720                 7.255614
18721                 7.255614
18722                 7.255614
18723                 7.255614
18724                 7.255614
18725                 7.255614
18726                 7.255614
18727                 7.255614
18728                 7.255614
18729                 7.255614
18730                 7.255614
18731                 7.255614
18732                 7.255614
18733                 7.255614
18734                 7.255614

[218735 rows x 1 columns]