## Google BigData Showcase
BigQuery ML Tutorial 03 - 출생 체중 예측하기  
Edited by 김하제  
https://cloud.google.com/bigquery/docs/bigqueryml-natality?hl=ko

### BigQuery 라이브러리 호출

In [1]:
from google.cloud import bigquery
client = bigquery.Client()

### 데이터셋 설정 "bqml_tutorial"

In [2]:
dataset = bigquery.Dataset(client.dataset('bqml_tutorial'))
#dataset.location = 'US'
#client.create_dataset(dataset)

### Jupyter에서 BigQuery SQL을 사용하기 위한 magic 명령어 클라이언트 라이브러리 호출

In [3]:
%load_ext google.cloud.bigquery

### 1. BigQuery Public Data 데이터 불러오기

In [4]:
%%bigquery
SELECT
  *
FROM
  `bigquery-public-data.samples.natality`
WHERE
  weight_pounds IS NOT NULL
  AND RAND() < 0.001
LIMIT 15

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,1989,1989,7,NaN,2.0,CA,True,1,8.062305,1.0,...,None,None,99.0,7,0,0,8,1,42,1
1,1971,1971,5,25.0,NaN,GA,True,1,5.937049,2.0,...,None,None,NaN,7,0,0,8,1,25,2
2,1975,1975,8,25.0,NaN,IL,True,1,10.937133,1.0,...,None,None,NaN,6,0,1,8,1,39,1
3,1969,1969,2,11.0,NaN,OH,False,1,7.687519,NaN,...,None,None,NaN,5,0,2,8,1,41,2
4,1981,1981,7,29.0,NaN,OR,False,1,8.501025,1.0,...,None,None,NaN,5,0,2,8,1,34,1
5,1989,1989,2,NaN,2.0,UT,True,1,8.245289,1.0,...,False,None,3.0,10,0,0,11,1,40,1
6,1996,1996,4,NaN,6.0,UT,False,9,5.374870,2.0,...,False,None,17.0,7,0,0,8,1,35,1
7,1979,1979,7,19.0,NaN,VA,True,1,7.156205,1.0,...,None,None,NaN,7,0,1,9,1,44,1
8,1984,1984,11,12.0,NaN,WV,False,1,9.186662,1.0,...,None,None,NaN,7,0,0,8,1,41,1
9,1986,1986,3,6.0,NaN,CA,False,1,6.937947,1.0,...,None,None,NaN,3,0,5,9,1,27,1
10,1994,1994,5,NaN,1.0,CA,True,9,9.162412,1.0,...,None,None,99.0,8,0,0,9,1,38,1
11,1998,1998,11,NaN,5.0,ME,True,9,7.848457,1.0,...,False,None,22.0,7,0,0,8,1,48,1
12,1977,1977,5,3.0,NaN,MI,False,1,8.937540,1.0,...,None,None,NaN,2,55,5,8,1,30,1
13,1991,1991,5,NaN,1.0,NY,False,1,7.561856,1.0,...,None,None,25.0,7,0,0,8,1,36,1
14,1991,1991,1,NaN,2.0,PA,False,1,7.500126,1.0,...,False,None,20.0,7,0,0,8,1,40,1

### 2. 모델 만들기

In [5]:
%%bigquery
#standardSQL
CREATE OR REPLACE MODEL `bqml_tutorial.natality_model`
OPTIONS
  (model_type='linear_reg',
    input_label_cols=['weight_pounds']) AS
SELECT
  weight_pounds,
  is_male,
  gestation_weeks,
  mother_age,
  CAST(mother_race AS string) AS mother_race
FROM
  `bigquery-public-data.samples.natality`
WHERE
  weight_pounds IS NOT NULL
  AND RAND() < 0.001

Empty DataFrame
Columns: []
Index: []

### 3. 학습된 모델 평가하기

In [6]:
%%bigquery
#standardSQL
SELECT
  *
FROM
  ML.EVALUATE(MODEL `bqml_tutorial.natality_model`,
    (
    SELECT
      weight_pounds,
      is_male,
      gestation_weeks,
      mother_age,
      CAST(mother_race AS STRING) AS mother_race
    FROM
      `bigquery-public-data.samples.natality`
    WHERE
      weight_pounds IS NOT NULL))

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,0.956495,1.675661,0.034254,0.737922,0.046491,0.046493

### 4. 평가된 모델로 예측하기

In [7]:
%%bigquery
#standardSQL
SELECT
  predicted_weight_pounds
FROM
  ML.PREDICT(MODEL `bqml_tutorial.natality_model`,
    (
    SELECT
      is_male,
      gestation_weeks,
      mother_age,
      CAST(mother_race AS STRING) AS mother_race
    FROM
      `bigquery-public-data.samples.natality`
    WHERE
      state = "WY"))

        predicted_weight_pounds
0                      8.099989
1                      7.564458
2                      7.305245
3                      8.148934
4                      7.928028
5                      7.566584
6                      7.606009
7                      7.728316
8                      7.598505
9                      7.498899
10                     7.449245
11                     7.409521
12                     7.466269
13                     7.729025
14                     7.254883
15                     7.474781
16                     7.441442
17                     7.646741
18                     7.408812
19                     7.589285
20                     7.564458
21                     7.254883
22                     7.829107
23                     7.526627
24                     7.394690
25                     7.475489
26                     7.736828
27                     7.542465
28                     7.719804
29                     6.995087
...                         ...
218705                 7.311631
218706                 7.311631
218707                 7.311631
218708                 7.311631
218709                 7.311631
218710                 7.311631
218711                 7.311631
218712                 7.311631
218713                 7.311631
218714                 7.311631
218715                 7.311631
218716                 7.311631
218717                 7.311631
218718                 7.311631
218719                 7.311631
218720                 7.311631
218721                 7.311631
218722                 7.311631
218723                 7.311631
218724                 7.311631
218725                 7.311631
218726                 7.311631
218727                 7.311631
218728                 7.311631
218729                 7.311631
218730                 7.311631
218731                 7.311631
218732                 7.311631
218733                 7.311631
218734                 7.311631

[218735 rows x 1 columns]